<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Full name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></th>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.status %></td>
        <td><%= link_to 'Show', manage_users_path(user.id)  %></td>
      </tr>
    <% end %>
  </tbody>
</table>