<div class="row justify-content-center">
  <% @courses.each do |course| %>
    <div class="card col-sm-3" style="margin-left: 8px; margin-bottom: 8px">
      <%= link_to course, style:"text-decoration:none; color: black" do %>
        <div class="embed-responsive embed-responsive-4by3">
        <%= image_tag course.photo, class: "card-img-top embed-responsive-item", style: "object-fit: cover;"%>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= course.name %></h5>
        <p class="card-text" style="height: 100px;overflow: hidden; text-overflow: ellipsis;"><%= course.introduction %></p>
      </div>
      
        <h3 class="center text-muted"> 
          <%= number_to_currency(course.price, unit: "đ", separator: ",", delimiter: ".", format: "%n%u", precision: 0) %>
        </h3>
      <% end %>
    </div>
  <% end %>
</div>