<div class="card-deck">
  <% @courses.each do |course| %>
    <div class="card">
      <%= link_to course, style:"text-decoration:none; color: black" do %>
      <div class="card-img-top">
        <%= image_tag course.photo, style: "width: 100%"%>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= course.name %></h5>
        <p class="card-text" style="height: 100px;overflow: hidden; text-overflow: ellipsis;"><%= course.introduction %></p>
      </div>
      
        <h3 class="center text-muted"> 
          <%= number_to_currency(course.price, unit: "đ", separator: ",", delimiter: ".", format: "%n%u", precision: 0) %>
        </h3>
      <% end %>
    </div>
  <% end %>
</div>