<h1 class="center">Let's log in</h1>

<div class="mx-auto w-50">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password",  class: "form-control" %>
    </div>

    <div class="form-group form-check">
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end %>
    </div>
    <div class="center">
      <%= f.submit "Log in", class: "btn btn-primary btn-lg btn-block" %>
    </div>
  <% end %>
  <br>
  <div class="float-right">
    <%= render "devise/shared/links" %>
  </div>
  <br>
  <br>
  <div class="center">
    <a class="center">or</a>
    <br>
    <br>
    <%= render "devise/shared/social_links" %>
  </div>
</div>