<% if @course.photo.attached? %>
  <%= image_tag @course.photo, style: "width: 100%; height: 500px; object-fit: cover;" %>
  <br>
  <br>
<% end %>

<h1 class="center">
  <%= @course.name %>
</h1>

<p class="text-right font-weight-bold" style="font-size: 30px">
  <%= number_to_currency(@course.price, unit: "đ", separator: ",", delimiter: ".", format: "%n%u", precision: 0) %>
</p>

<p>
  <h4>Introduction:</h4>
  <%= @course.introduction %>
</p>

<p>
  <h4>Content:</h4>
  <%= @course.content %>
</p>

<p>
  <h4>Status:</h4>
  <%= @course.status.capitalize %>
</p>

<% if policy(@course).edit? %>
  <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-primary btn-lg btn-block" %>
<% end %>

<% if policy(@course).allowSubcribe? %>
  <%= link_to 'Subcribe this course now!!!', subcribe_course_course_path(@course), class: "btn btn-primary btn-lg btn-block" %>
<% end %>

<% if policy(@course).allowUnsubcribe? %>
  <%= link_to 'UnSubcribe this course now!!!', unsubcribe_course_course_path(@course), method: :delete, data: { confirm: 'Unsubcribe this course. Are you sure?' }, class: "btn btn-primary btn-lg btn-block" %>
<% end %>